<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Adoption</title>
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/adoptionStart.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
</head>

<body class="container">


    <header class="header">
    <nav class="nav">
        <a href="../pages/home.html"><img src="../assets/logo.png" alt="Home" width="122" height="50" /></a>

        <section class="main-buttons">
            <a href="../pages/searchView.html">Adopt</a>
            <a href="../pages/submit_pet_request.html">Rehome a Pet</a>
            <a href="../pages/documentatie/documentatie.html">About</a>
        </section>

        <section class="information-buttons">
            <a href="../pages/notifications.html"><img src="../assets/notifications.png" alt="Notifications" /></a>

            <div class="auth-links" id="auth-links">
            </div>
        </section>
    </nav>

    <section class="mini-navigation">

    </section>
</header>

    <section class="user-information">
        <div class="profile-card">

            <div class="image-card">
                <img src="assets/profile_head.png" alt="Profile Picture">
            </div>

            <div class="info-card">
                <div class="info-row">
                    <h1>Username</h1>
                    <p></p>
                </div>
                <div class="info-row">
                    <h1>First name</h1>
                    <p></p>
                </div>
                <div class="info-row">
                    <h1>Last name</h1>
                    <p></p>
                </div>
                <div class="info-row">
                    <h1>Email</h1>
                    <p></p>
                </div>
            </div>

        </div>

        <a href="adoptionAddress.html" class="start-button">
            <span>Start</span>
        </a>

    </section>

    <div id="footer-placeholder"></div>

    <script src="../../controller/footerController.js"></script>
    <script src="../../controller/headerController.js"></script>
    <script type="module" src="../../controller/adoptionStartController.js"></script>

</body>

</html>