<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Start Adoption</title>
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/adoptionStart.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
</head>

<body class="container">


    <div id="header-placeholder"></div>

    <section class="user-information">
        <div class="profile-card">

            <div class="image-card">
                <img src="assets/profile_head.png" alt="Profile Picture">
            </div>

            <div class="info-card">
                <div class="info-row">
                    <h1>Username</h1>
                    <p></p>
                </div>
                <div class="info-row">
                    <h1>First name</h1>
                    <p></p>
                </div>
                <div class="info-row">
                    <h1>Last name</h1>
                    <p></p>
                </div>
                <div class="info-row">
                    <h1>Email</h1>
                    <p></p>
                </div>
            </div>

        </div>

        <a href="adoptionAddress.html" class="start-button">
            <span>Start</span>
        </a>

    </section>

    <div id="footer-placeholder"></div>

    <script src="../../controller/footerController.js"></script>
    <script src="../../controller/headerController.js"></script>
    <script type="module" src="../../controller/adoptionStartController.js"></script>

</body>

</html>