<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/home.css" />
</head>

<body class="container">
    <div id="header-placeholder"></div>

    <main>
        <h1>Welcome to the Pet Adoption Platform</h1>
        <p class="platform-description">
  At FurryFriends, we believe every pet deserves a loving home. Our platform makes it easy to adopt or rehome pets safely and responsibly. Whether you're looking to expand your family or help a furry companion find a better future, you've come to the right place. Browse available pets, connect with adopters, and join a growing community dedicated to animal welfare.
</p>

    </main>

    <div id="footer-placeholder"></div>

    <script src="../../controller/footerController.js"></script>
    <script src="../../controller/headerController.js"></script>

</body>

</html>