<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/header.css" />
</head>

<body class="container">
    <div id="header-placeholder"></div>

    <main>
        <h1>Welcome to the Pet Adoption Platform</h1>
    </main>

    <div id="footer-placeholder"></div>

    <script src="../../controller/footerController.js"></script>
    <script src="../../controller/headerController.js"></script>

</body>

</html>