<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="../styles/header.css" />
  <link rel="stylesheet" href="../styles/footer.css" />
  <link rel="stylesheet" href="../styles/login.css" />
</head>

<body>
  <header class="header">
    <nav class="nav">
        <a href="../pages/home.html"><img src="../assets/logo.png" alt="Home" width="122" height="50" /></a>

        <section class="main-buttons">
            <a href="../pages/searchView.html">Adopt</a>
            <a href="../pages/submit_pet_request.html">Rehome a Pet</a>
            <a href="../pages/documentatie/documentatie.html">About</a>
        </section>

        <section class="information-buttons">
            <a href="../pages/notifications.html"><img src="../assets/notifications.png" alt="Notifications" /></a>

            <div class="auth-links" id="auth-links">
            </div>
        </section>
    </nav>

    <section class="mini-navigation">

    </section>
</header>

  <div id="success-message" class="success-message" style="display:none;">
    Account was successfully created! You can now login.
  </div>

  <section class="login">
    <form>
      <div id="error-message" class="error-message" style="display:none;">
        Username or Password are incorrect!
      </div>

      <p class="text"> Username </p>
      <input type="text" name="username" placeholder="Enter your username" required />

      <p class="text"> Password </p>
      <input type="password" name="password" placeholder="Enter your password" required />

      <button type="submit">Login</button>
    </form>
  </section>

  <div id="footer-placeholder"></div>
  <script src="../../controller/loginController.js"></script>
  <script src="../../controller/footerController.js"></script>
  <script src="../../controller/headerController.js"></script>

</body>

</html>