<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notifications</title>
    <link rel="stylesheet" href="../styles/header.css" />
    <link rel="stylesheet" href="../styles/footer.css" />
    <link rel="stylesheet" href="../styles/notifications.css" />

</head>

<body>
    <div id="header-placeholder"></div>

    <div class="notifications-container">
        <h1>My Notifications</h1>

        
            
                
                <a href="" class="notification ">
                    
                    <span class="notification-time">
                        
                    </span>
                </a>
            
        
            <p>No new notifications.</p>
        
    </div>

    <div id="footer-placeholder"></div>

    <script src="../../controller/footerController.js"></script>
    <script src="../../controller/headerController.js"></script>
    <script src="../../controller/notificationController.js"></script>

</body>

</html>