<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>'s Profile</title>
  <link rel="stylesheet" href="/assets/styles/petPage.css" />
  <link rel="stylesheet" href="/assets/styles/header.css" />
  <link rel="stylesheet" href="/assets/styles/footer.css" />
  <link rel="stylesheet" href="/assets/styles/userProfile.css">
</head>

<body>
  <div id="header-placeholder"></div>

  <header class="profile-header">
    <img class="banner" src="/assets/" alt="Banner Image" />
    <div class="profile-image-container">
      <img class="profile-image" src="/assets/" alt="Profile Picture" />
    </div>
    <h1 class="username"></h1>
    <p class="location">
       · 
    </p>
  </header>

  <main class="profile-main">
    <section class="bio-contact">
      <div class="bio">
        <p></p>
      </div>
      <div class="contact">
        <h3>Contact me!</h3>
        <ul>
          <li>Email: <a href="mailto:"></a></li>
          <li>Phone: </li>
          <li>Telegram: @</li>
        </ul>
      </div>
    </section>

    <section class="pet-listings">
      <h2>Pets that I have up for adoption:</h2>
      <div class="pets-grid">
        
          
            <div class="pet-card">
              <img src="" alt="" />
              <p><strong></strong></p>
              <p>
                 ·  · <br>
                 years · 
              </p>
              <a href="/petPage.php?id=" class="more-info-button">More Info</a>
            </div>
          
        
          <p>No pets listed yet.</p>
        
      </div>
    </section>
  </main>

  <div id="footer-placeholder"></div>

  <script src="../../controller/footerController.js"></script>
  <script src="../../controller/headerController.js"></script>
</body>

</html>