<header class="header">
    <nav class="nav">
        <a href="../pages/home.html"><img src="../assets/logo.png" alt="Home" width="122" height="50" /></a>

        <section class="main-buttons">
            <a href="../pages/searchView.html">Adopt</a>
            <a href="../pages/submit_pet_request.html">Rehome a Pet</a>
            <a href="../pages/documentatie/documentatie.html">About</a>
        </section>

        <section class="information-buttons">
            <a href="../pages/notifications.html"><img src="../assets/notifications.png" alt="Notifications" /></a>

            <div class="auth-links" id="auth-links">
            </div>
        </section>
    </nav>

    <section class="mini-navigation">

        <form class="search-bar" action="search.php" method="GET">
            <input type="text" name="query" placeholder="Search..." />
            <button type="submit">
                <img src="../assets/search-glass.png" alt="Search" />
            </button>
        </form>
    </section>
</header>