.container {
    font-family: 'Medium', 'Inter';
    background-color: #FFFFFF;

}

.start_button {
    background-color: #41349D;
    font-size: 18px;
    font-weight: medium;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    text-decoration: none;
    color: #FFFFFF;
}

.start_button:hover {
    background-color: #352b80;
}