.container {
    font-family: 'Medium', 'Inter';
    background-color: #FFFFFF;

}

.confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.confirmation h1 {
    align-self: center;
    text-align: center;
    width: 100%;
}

.confirmation p {
    text-align: left;
    margin: 0 0 10px 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-top: 20px;
}

.download-buttons {
    display: flex;
    gap: 20px;
}

.profile-button {
    background-color: #41349D;
    font-size: 18px;
    font-weight: medium;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    text-decoration: none;
    color: #FFFFFF;
}

.profile-button:hover {
    background-color: #352b80;
}

.download-button {
    background-color: #41349D;
    font-size: 18px;
    font-weight: medium;
    border: none;
    border-radius: 8px;
    padding: 12px 24px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    text-decoration: none;
    color: #FFFFFF;
}

.download-button:hover {
    background-color: #352b80;
}