.container {
    font-family: 'Medium', 'Inter';
    background-color: #FFFFFF;
}

.header {
    font-size: 16px;
}

.page {

    font-size: 48px;

}

.banner {
    width: 100vw;
    height: auto;
    display: block;
    max-width: 100%;
    object-fit: cover;
}